{% extends "base.html" %}

{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h2 class="article-title">О нас</h2>
        <img src="{{ r.image.url }}" class="img-fluid rounded" style="margin-bottom: 1rem;" alt="{{ r.title }}">
        <p class="article-content">Это клуб любителей готовить! Ежедневно мы выкладываем сотни видео и фото рецептов
            на сайте и в нашем канале. Наши авторы готовят дома и в студии, делятся своими секретами и дают рекомендации по приготовлению блюд.</p>
    </div>
</article>
{% endblock content %}