{% extends "base.html" %}

{% block content %}
    {% for r in recipes %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ r.author }}</a>
                    <small class="text-muted">{{ r.created_date|date:"d b Y h:m" }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ r.title }}</a></h2>
                <img src="{{ r.image.url }}" class="img-fluid rounded" style="margin-bottom: 1rem;" alt="{{ r.title }}">
                <p class="article-content">{{ r.ingredients }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
